{{> head }}
{{> navbar }}
<div class="row">

    <div class="col-8">
        <h1>This is a huge title</h1>
    </div>
    <div class="col-4">
        <img src="./assets/img/ts-aop-logo.png" class="img-thumbnail">
    </div>

</div>

{{> footer}}